body{
   color: rgb(6, 6, 6);
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
   height: 90px;
   
}

.navbar-brand, .nav-link {
   align-self: center;
}

.primary-cta-button {
   background-color: #611305;  
   color: white;
   padding: 10px 30px;
   border-radius: 5px;
   font-size: 1.2rem;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
   &:hover {
       background-color: #8a2a10;  
   }
}

.cta-container {
   
   display: flex;
   justify-content: center;  /* Horizontally center the button */
   align-items: center;      /* Vertically center the button, if the container has a height */
   margin: 40px 0;           /* Add some vertical spacing around the button */
   height: 400px; /* add height to the background of the buttons */  
   background-size: cover ; /* Control the size of the image. */
   background-position: center; /* Position the image. */
   padding: 20px; /* Add some padding to ensure the button isn't right against the edge of the image */
    
}

.footer-container {
   background-color: #333;
   color: white;
   padding: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.footer-links, .footer-contact, .footer-copyright {
   margin: 10px 0;
}

.footer-links a {
   margin-right: 15px;
   color: white;
   text-decoration: none;
   transition: color 0.3s ease;

   &:hover {
       color: #fac762;  
   }
}
